<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">
      <center>Superhero Database </center>
    </h1>
    <p class="lead"><center>Please Select A Publisher Whose Heroes You Would Like To View</center></p>
    <hr class="my-4">
    <p class="lead">
      <center>
          <a class="btn btn-primary btn-lg" href="/marvel" role="button" id="marvelButton">Marvel Comics</a>
          <a class="btn btn-primary btn-lg" href="/dc" role="button" id="dcButton">DC Comics</a>
          <!-- <a class="btn btn-primary btn-lg" href="/allheroes" role="button" id="allButton">All Heroes</a>       -->
      </center>

    </p>
  </div>
</div>


